<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>EquesFerrum Code | Ana Sayfa</title>
<br><br>

<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.discordapp.com/attachments/846653378812706816/848095685534023700/thumb-1920-1044373.jpg) no-repeat fixed;
			background-size: 100%;
		}
	</style>

  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/attachments/846653378812706816/847776777878634496/equesferrumcodes.png">
</div><br>

<div class="flex">
  <a href="/normal" class="bttn dark">Normal Kodlar</a>
  <a href="/altin" class="bttn dark">Altın Kodlar</a>
  <a href="/elmas" class="bttn dark">Elmas Kodlar</a>
  <a href="/hazir" class="bttn dark">Hazır Sistemler</a>
</div>

<a href="https://www.youtube.com/channel/UCLtwktCxGQt6o12HNXHYEQA/videos" title="Title">
<div class="button button__sarı button__medium button__icon--introduce">
<font color="white"</font><h5>Youtube Sayfamız</h5>
</div>
</a>

<a href="/davet" title="Title">
<div class="button button__sarı button__medium button__icon--introduce">
<font color="white"</font><h5>Discord Sunucumuz</h5>
</div>
</a>


  </div><br>
  <div class="container text-center">
<hr color="white">
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
        
                  <div class="ASD">                                    
                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/816682972345270292/843772334526431232/VangHockBey.jpg" alt="equesferrum">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                       
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/816682972345270292/843772348346925086/wallpaper-6.jpg" alt="equesferrum"> 
                      </div>
                 
                    EquesFerrum      
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 60 
                        
                      </div>
                      
                      <p> </p>
                        <p class="card-text">EquesFerrum Her Gün Adım Adım Büyüyen Güzel Saygılı Bir Topluluk</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                       <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/754032603081998336.png?v=1" alt="Discord Partner"><h> Discord Ortağı Değil</b></h> 
                    <br>
                    <img style="width: 20px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/660789028861509633.png?v=1" alt="Discord Partner"><h> 0. Seviye(0 Boost)</b></h> 
                    </div>
                    <div class="card-footer">                    
                     <a href="/davet" class="bttn dark" target="_blank" >Sunucuya Git</a>
                  </div>
      </div> 

    </div>
    </div12>  
  </div><br>
<font color="white" size="5"><b>Kurucu</b></font>
      <div class="container text-center">
<hr color="white">
<br><br>
<br><br>

<div class="flex">
<div id="avatar2">
 <a href="http://equesferrumcodes.cf"> <img class="avatar" height="100" width="100" src="https://cdn.discordapp.com/avatars/547073075317833738/3139816a768b7b4b4043f84abb09d1b5.png?size=1024">
		<br>
  <a href="#" class="bttn dark">El_VangHockBey</a>

</div>
</div>

  <br>

</main>


<div class="tavsiyekutusu cmf2">
<span style="color: white;">Equesferrum Code. 2021 Tüm Hakları Saklıdır. Developer by El_VangHockBey </span>
</div>

<span style="color: #ec0707;">

  </b>
  </a>


